@model CRM.Models.VolunteerViewModel

@{
    ViewData["Title"] = "List of Volunteers";
}

<script type="text/javascript">
    function filter() {
        var val = $("#ddlInterest").val();
        $.ajax({
            url: "/Volunteer/FilterVolunteers",
            type: "GET",
            data: { interest: val }
        })
            .done(function (partialViewResult) {
                $("#dvVolunteerList").html(partialViewResult);
            });
    }


    $(document).ready(function () {
        $("#ddlInterest").on('change', filter);
    });
</script>


<h2 style="text-align:center">Volunteers</h2>

<div style="margin-left: 480px">

    <form>
        <div style="margin-left: 65px">
            Search:
            <input type="text" name="search">
                <label for="ddlInterest"  style="margin-left: 210px">Select an Interest</label>
                @Html.DropDownList("ddlInterest", new List<SelectListItem>
                {
                    new SelectListItem
                    {
                        Text ="Dentist", Value="Dentist"
                    },
                    new SelectListItem
                    {
                        Text = "Doctor", Value = "Doctor"
                    },
                    new SelectListItem
                    {
                        Text ="Foodline", Value = "Foodline"
                    },
                    new SelectListItem
                    {
                        Text="Thrift Store", Value = "Thrift Store"
                    },
                    new SelectListItem
                    {
                        Text = "Nurse", Value = "Nurse"
                    },
                    new SelectListItem
                    {
                        Text="Job Training", Value = "Job Training"
                    },
                    new SelectListItem
                    {
                        Text="Chapel Ministry", Value = "Chapel Ministry"
                    },
                    new SelectListItem
                    {
                        Text="Bus Driver", Value = "Bus Driver"
                    },
                    new SelectListItem
                    {
                        Text="Office/Clerical", Value = "Office/Clerical"
                    },
                    new SelectListItem
                    {
                        Text="Maintenance", Value = "Maintenance"
                    },
                    new SelectListItem
                    {
                        Text="Auto Shop", Value = "Auto Shop"
                    },
                    new SelectListItem
                    {
                        Text="Men's Division", Value = "Men's Division"
                    },
                    new SelectListItem
                    {
                        Text="Women, Children, and Families", Value = "Women, Children, and Famililes"
                    },
                    new SelectListItem
                    {
                        Text="Special Events", Value = "Special Events"
                    }

                })
        </div>

    </form>

    <div id="dvVolunteerList">
        @{Html.RenderPartial("_VolunteerList", Model);}
    </div>
</div>
