@model CRM.Models.VolunteerViewModel

@{
    ViewData["Title"] = "List of Volunteers";
}

<script type="text/javascript">
    function filter() {
        var val = $("#ddlInterest").val();
        $.ajax({
            url: "/Volunteer/FilterVolunteers",
            type: "GET",
            data: { interest: val }
        })
            .done(function (partialViewResult) {
                $("#dvVolunteerList").html(partialViewResult);
            });
    }


    $(document).ready(function () {
        $("#ddlInterest").on('change', filter);
    });
</script>


<h2>List Filtered by Interest</h2>

<label for="selectAll"><strong>Select All</strong></label>
@Html.CheckBox("selectAll")


<br>

<label for="ddlInterest"><strong>Select an Interest</strong></label>
@Html.DropDownList("ddlInterest", new List<SelectListItem>
{
    new SelectListItem
    {
        Text ="Dentist", Value="Dentist"
    },
    new SelectListItem
    {
        Text = "Doctor", Value = "Doctor"
    },
    new SelectListItem
    {
        Text ="Foodline", Value = "Foodline"
    },
    new SelectListItem
    {
        Text="Thrift Store", Value = "Thrift Store"
    }
})


<div id="dvVolunteerList">
    @{Html.RenderPartial("_VolunteerList", Model);}
</div>

