/*body {
    padding-bottom: 20px;
}*/

/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
ul.nav > li > a:hover {
    background-color: #adaba9;
    color: #2134e3;
    border-style: none;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#badge-6{
    background-color:brown;
}

#myModal .modal-dialog .modal-content .modal-body {
    max-height: 300px;
    overflow-y: scroll;
}

#volunteerTable tbody tr.selected {
    color: white;
    background-color: #4575a5;
}
