@model CRMSite.Models.FilterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    {
        @Html.DropDownListFor(x => x.SelectedCategoryId, new SelectList(Model.AllCategories,"CategoryID", "Category1"), "Select a Category")
       
        <input type="submit" value="Filter" />
    }
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{ Html.RenderPartial("_VolunteerList", Model.Volunteers);}

