@model CRMSite.Models.FilterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    <text>Category</text>
    @Html.DropDownListFor(x => x.SelectedCategoryID, new SelectList(Model.AllCategories, "CategoryID", "Category1"), "Select a category")
</p>

<div id="dvVolunteerList">
    @{Html.RenderPartial("_VolunteerList", Model.Volunteers); }
</div>