<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="site_header">
        <img src="~/lib/Images/logo.jpg" class="leftimage">
        <p class="center_header_text">Volunteer Management System</p>
    </div>

    <ul class="u_header">
        <li class="li_header"><a asp-controller="Volunteer" asp-action="Index" class="li_a_header">Volunteers</a></li>
        <li class="li_header"><a asp-controller="Home" asp-action="VolunteerForm" class="li_a_header">Add Volunteers</a></li>
        <li class="li_header"><a asp-controller="Home" asp-action="VolunteerHours" class="li_a_header">Hours</a></li>
    </ul>

    <div>
        @RenderBody()
    </div>
</body>
</html>
