@model VMS.Models.FilterViewModel

<h2>Volunteers</h2>

<p>
    <text>Category</text>
    @Html.DropDownListFor(x => x.SelectedCategoryID, new SelectList(Model.AllCategories, "CategoryID", "Category1"), "Select a category")
</p>

<div id="dvVolunteerList">
    @{Html.RenderPartial("_VolunteerList", Model.HourViewModel); }
</div>

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var dataTable;
        dataTable = $(document).ready(function () {
            $('#volunteerTable').dataTable({
                columnDefs: [
                    {
                        className: "dt-center", targets: "_all"
                    }
                ]
            });
        });

    </script>
}