
@{
    ViewBag.Title = "ThankYou";
}


    <div class="text-center">

        <h1>Thank You!</h1>

        <br />

        <p>Your application has been submitted.</p>
        <p>You will be contacted within  48 hours.</p>

    </div>

