@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>


<body>
    <div>
        <p>This is a basic home page to link to initial development features</p>
        <a asp-action="VolunteerForm">Enter Volunteers</a>
        <br />
        <a asp-action="VolunteerHours">Manage Hours</a>
        <br />
        <a asp-action="VolunteerEmail">View Volunteers by Interest</a>
    </div>
</body>
</html>



