<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>


<body>
    <div>
        <p>This is a basic home page to link to initial development features</p>
        <a asp-action="VolunteerForm">Enter Volunteers</a>
        <br />
        <a asp-action="VolunteerHours">Hours by Department</a>
        <br />
        <a asp-action="ListVolunteer">View Verified Volunteers</a>
        <br />
        <a asp-controller="Volunteer" asp-action="Index">View Volunteers List</a>
    </div>
</body>
</html>



