@model CRM.Models.Volunteer
@{ 
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>VolunteerForm</title>
</head>
<body>
    <form asp-action="VolunteerConfirm" method="post">
        <p>
            <label asp-for="firstName">First Name:</label>
            <input asp-for="firstName" />
        </p>
        <p>
            <label asp-for="lastName">Last Name:</label>
            <input asp-for="lastName" />
        </p>
        <p>
            <label asp-for="phone">Phone Number:</label>
            <input asp-for="phone" />
        </p>
        <p>
            <label asp-for="email">Email Address:</label>
            <input asp-for="email" />
        </p>
        <p>
            <label>What is your interest?</label>
            <select asp-for="interest">
                <option value="">Choose an Option</option>
                <option value="Food Line">Food Line</option>
                <option value="Thrift Store">Thrift Store</option>
                <option value="Dentist">Dentist</option>
                <option value="Doctor">Doctor</option>
            </select>
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>