@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <h2>Volunteers</h2>
    </head>
    
    <body>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Cateogry</th>
                <th>Total Hours Worked</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>Doctor</td>
                <td>20</td>
            </tr>
        </table>
    </body>
   

</html>