@model IEnumerable<CRM.Models.Volunteer>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <h2>Volunteers</h2>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Interest</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CRM.Models.Volunteer r in Model)
            {
                <tr>
                    <td>@r.firstName</td>
                    <td>@r.lastName</td>
                    <td>@r.interest</td>
                    <td>@r.hours</td>
                </tr>
            }
        </tbody>
    </table>
</body>


</html>