@model IEnumerable<CRM.Models.Volunteer>


    <table>
        <thead>
            <tr>
                <th>Department</th>
                <th>Total Hours</th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (CRM.Models.Volunteer r in Model)
            {
            <tr>
                <td>@r.interest</td>
                <td>@r.hours</td>


            </tr>
            }
        </tbody>
    </table>
